[submodule "registration-service"]
	path = registration-service
	url = https://github.com/SIM-MBKM/registration-service
[submodule "monitoring-service"]
	path = monitoring-service
	url = https://github.com/SIM-MBKM/monitoring-service
[submodule "sim-mbkm-frontend"]
	path = sim-mbkm-frontend
	url = https://github.com/SIM-MBKM/sim-mbkm-frontend
[submodule "broker-service"]
	path = broker-service
	url = https://github.com/SIM-MBKM/broker-service
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/SIM-MBKM/notification-service
[submodule "filestorage-service"]
	path = filestorage-service
	url = https://github.com/SIM-MBKM/filestorage
[submodule "matching-service"]
	path = matching-service
	url = https://github.com/SIM-MBKM/matching-service
[submodule "activity-service"]
	path = activity-service
	url = https://github.com/SIM-MBKM/activity-management-service
[submodule "mod-service"]
	path = mod-service
	url = https://github.com/SIM-MBKM/mod-service
[submodule "monev-service"]
	path = monev-service
	url = https://github.com/SIM-MBKM/monev-service
[submodule "sim-mbkm-migration"]
	path = sim-mbkm-migration
	url = https://github.com/SIM-MBKM/sim-mbkm-migration
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/SIM-MBKM/auth-service
[submodule "user-service"]
	path = user-service
	url = https://github.com/SIM-MBKM/user-management-service
[submodule "report-service"]
	path = report-service
	url = https://github.com/SIM-MBKM/report-service
